
## <summary>policy for mubdi</summary>


########################################
## <summary>
##	Transition to mubdi.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`mubdi_domtrans',`
	gen_require(`
		type mubdi_t, mubdi_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, mubdi_exec_t, mubdi_t)
')


########################################
## <summary>
##	Execute mubdi server in the mubdi domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`mubdi_initrc_domtrans',`
	gen_require(`
		type mubdi_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, mubdi_initrc_exec_t)
')


########################################
## <summary>
##	Search mubdi lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`mubdi_search_lib',`
	gen_require(`
		type mubdi_var_lib_t;
	')

	allow $1 mubdi_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read mubdi lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`mubdi_read_lib_files',`
	gen_require(`
		type mubdi_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, mubdi_var_lib_t, mubdi_var_lib_t)
')

########################################
## <summary>
##	Manage mubdi lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`mubdi_manage_lib_files',`
	gen_require(`
		type mubdi_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, mubdi_var_lib_t, mubdi_var_lib_t)
')

########################################
## <summary>
##	Manage mubdi lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`mubdi_manage_lib_dirs',`
	gen_require(`
		type mubdi_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, mubdi_var_lib_t, mubdi_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a mubdi environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`mubdi_admin',`
	gen_require(`
		type mubdi_t;
		type mubdi_initrc_exec_t;
		type mubdi_var_lib_t;
	')

	allow $1 mubdi_t:process { ptrace signal_perms };
	ps_process_pattern($1, mubdi_t)

	mubdi_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 mubdi_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, mubdi_var_lib_t)

')

