# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=MuBdI Core Daemon SNAP
Comment=testnet
GenericName=MuBdI BlockStream Daemon Client testnet network
Exec=mubdi-core.daemon-testnet %u
Terminal=true
Type=Application
Icon=${SNAP}/share/pixmaps/mubdi_testnet.png
MimeType=x-scheme-handler/mub;
Categories=X-Office;X-Finance;
Keywords=internet;mubdi;core;wallet;daemon;testnet;snap;launchpad;crypto;digital;currency;coin;dep;
Version=1.0
